*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
}



//Colors

$bg-section: rgba(223, 209, 209, 0.479);
$section: rgb(255, 255, 255);

$orange:#FF8516;
$violet: rgb(163, 119, 163);
$violet2:rgb(141, 141, 187);
$light:#E3EBEF;
$blue:#445775;
$bluedark:#3C3C3B;



//Sizes

$w-1: 100px;
$w-4: 400px;
$h-1: 100px;
$p10: 10px;
$h-section: 10vh;
$w-section: 10vw;
$s-size: small;
$f-1:1em;


//position

$center: center;



