.contact{
    height: 40vh;
    background-image: url(../images/stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed; 

}

.card{
    border: 0px solid!important;
}
