.body-error{
    background-image: url(../images/cat.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    margin: 30%;
    height: 100vh;
}

.error{
    position: absolute;
    left: 1rem;
    top: 1rem;  
}


.tit{
    font-size: 6rem;
    font-family: $fuzzy;
    font-weight: $f-w7;

}

.subt{
    font-size: 3rem;
    font-family: $fuzzy;
    font-weight: $f-w4;

}

.err{
    font-size: 3rem;
    font-family:$fuzzy;
    font-weight: $f-w4;
}
.btn-success{
    width: 30%;
}





@media only screen and (min-width:600px){
    .error{
        left: 3rem;
        top: 3rem;  
    }
    .tit{
        font-size: 9rem;
        margin-bottom: 0;
    }
    
    .subt{
        font-size: 5rem;
        margin-bottom: 0;
    }
    
    .err{
        font-size: 5rem;
        margin-bottom: 0;
    }
    .btn-success{
        width: 7%;
    }

    
}

